body,html {
    margin: 0;
    padding: 0;
    font-family: monospace;
    
}
.btn {
    display: flex;
    flex: 1;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
  }
  button:hover {
    
    border-color: cyan;
    box-shadow: 0 0 1rem cyan;
  }
  button:active {
    
    box-shadow: 0 5px rgb(0, 174, 255);
    transform: translateY(4px);
  }
  button {
    border: .2rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    font-family: monospace;
    
  }
  div{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2em;
  }
  